body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* CONSTANTES ⚡dont repeat yourself⚡ */
.contenedor{
    /* 3258px */
    /* 2200px */
    /* 1920px */
    /* 1600px */
    /* 1366px */
    /* width: 1000px; */
    width: 80%;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
}


/* HEADER */
header{
    background-color: #273b47;
    display: flex;
    justify-content: space-between;
    /* height: 70px; */
    align-items: center;
    padding: 10px;
}
header img{
    display: block;
    width: 100px;
    /* height: 30px; */
    /* margin: 0 0 20px 0; */
}
header ul{
    margin: 0;
    list-style: none;
    padding: 0;
    /* margin: 20px 0 0 0; */
    /* margin: 20px 50px; */
    /* margin: 0 20px 0; */
    /* margin-top: 30px; */
    /* border: 2px solid peru; */
    /* padding: 20px 25px 60px 40px; */
    display: flex;
}
header ul li{
    /* display: inline-block; */
    /* border: 5px solid red; */
    /* margin-right: 5px; */
    /* border-right: 2px solid white; */
}

.bordeRight{
    border-right: 2px solid white;
}

header ul li a{
    /* color: white; */
    /* color: rgb(255,255, 255); */
    color: #ffffff;
    text-decoration: none;
    /* background-color: peru; */
    padding: 2px 15px;
    display: inline-block;
}

header ul li:last-child a{
    background-color: #ff4842;
    /* border-radius: 5px 5px 5px 5px; */
    border-radius: 5px;
}
.btnMenu{
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}


/* HEADING PRINCIPAL */
.principal{
    background-color: #ddd;
}

form{
    text-align: right;
    /* margin: 10px 0; */
    padding: 5px 0;
}

form button{
    background-color: black;
    color: white;
    border: none;
    height: 21px;
    border-radius: 3px;
}

.principal div article img{
    /* border: 1px solid red; */
    display: block;
    width: 100%;
}
.caja{
    position: relative;
}
.data{
    /* background-color: white; */
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    /* top: 0; */
    bottom: 20px;
    left: 20px;
    padding: 20px
}
.data h2{
    margin: 0;
}
.data div{
    display: flex;
    justify-content: space-between;
}

/* PUBLICACIONES */
.publicaciones{
    padding: 40px 0;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 
    32%
    32%
    32%
    ----
    96%
    4% - 100px, 121.1px? porque depende de cada viewport
    ---------------------------------
    calc(100% / 3 - 20px)
    33.33% - 20px
    33%.33% - 20px
    33%.33% - 20px
    ---------------
    60px
*/
.item{
    /* width: 30%; */
    width: calc(100%/3 - 20px);
    margin-bottom: 30px;
}
.item img{
    display: block;
    width: 100%;
}
.item div div{
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px 0 50px 0;
    font-size: 20px;
}
footer span{
    color: rgba(0,0,0,.5);
    margin-right: 10px;
}

footer a{
    text-decoration: none;
    color: #4d4d4d;
    border: 1px solid #cccccc;
    background-color: #eaeaea;
    padding: 5px 10px;
    /* margin-right: 10px; */
}

footer a:not(:last-child){
    margin-right: 10px;
}

footer a.activo{
    background-color: transparent;
    border: none;
    cursor: default;
}

/* ⚡RESPONSIVE DESIGN⚡ */
/* EL MODELO ESCRITORIO A DISPOSITIVOS MOVILES */
@media only screen and (max-width: 900px){
    .btnMenu{
        display: block;
    }
    header ul{
        display: none;
    }

    .data{
        left: 0;
        bottom: 0;
        /* width: 100%; */
        right: 0;
    }

    .item{
        /* calc(100% / 3 - 20px) */
        width: calc(50% - 15px);
    }
}
@media only screen and (max-width: 700px){
    .data{
        position: unset;
        border: 1px solid rgba(0,0,0, .1);
    }

    footer span,
    footer a{
        margin-bottom: 10px;
        display: inline-block;
    }
}

@media only screen and (max-width: 500px){
    .item{
        width: 100%;
        box-shadow: 5px 5px 30px rgba(0,0,0,.3);
    }
}