.about{
    &__contenedor{
        &__timeline::before{
            content: "";
            width: .2rem;
            background-color: #e9ecef;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @media only screen and (max-width: $bp-medium){
                left: 4.6rem;
            }
        }
        &__timeline{
            position: relative;
            &__item{
                // height: 40rem;
                position: relative;
                // margin-bottom: 10rem;
                &:not(:last-child){
                    margin-bottom: 10rem;
                }
                &__imgBox{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 15rem;
                    height: 15rem;
                    border: 6px solid #e9ecef;
                    border-radius: 50%;
                    overflow: hidden;
                    @media only screen and (max-width: $bp-large){
                        width: 10rem;
                        height: 10rem;
                    }
                    @media only screen and (max-width: $bp-medium){
                        width: 8rem;
                        height: 8rem;
                        left: 4.6rem;
                    }
                    img{
                        width: 100%;
                        display: block;
                        // border-radius: 50%;
                    }
                }
                &__panel{
                    width: 30%;
                    @media only screen and (max-width: $bp-medium){
                        width: auto;
                    }
                }
                &:nth-child(odd){
                    // background-color: peru;
                    .about__contenedor__timeline__item__panel{
                        text-align: right;
                        margin-left: 9%;
                        @media only screen and (max-width: $bp-medium){
                            text-align: left;
                            margin-left: 13rem;
                        }
                    }
                }
                &:nth-child(even){
                    .about__contenedor__timeline__item__panel{
                        margin-left: auto;
                        margin-right: 9%;
                        @media only screen and (max-width: $bp-medium){
                            margin-left: 13rem;
                            margin-right: 0;
                        }
                    }
                }
            }
            .lastItem{
                height: 16.2rem;
                @media only screen and (max-width: $bp-large){
                    height: 11.2rem;
                }
                @media only screen and (max-width: $bp-medium){
                    height: 9.2rem;
                }
                div{
                    background-color: #ffc800;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: white;
                        font-family: $font-mont;
                        font-size: 1.8rem;
                        font-weight: 700;
                        text-align: center;
                        @media only screen and (max-width: $bp-large){
                            font-size: 1.3rem;
                            padding: 0 1.5rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}