.servicios{
    &__contenedor{
        &__caja{
            display: flex;
            justify-content: space-between;
            &__item{
                width: calc(100% / 3 - 2rem);
                display: flex;
                flex-direction: column;
                align-items: center;
                &--logo{
                    width: 12.8rem;
                    height: 12.8rem;
                    background-color: #fed136;
                    color: white;
                    font-size: 6.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
        }
    }
}